<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		xmlns:android = "http://schemas.android.com/apk/res/android"
		id        = "com.resulam.mobile"
		versionCode="10"
		version   = "1.0.0">
    <name>Resulam</name>

    <description>
        Resulam Online Learning Platform.
    </description>

    <author href="http://redianmarku.github.io">
        Redian Marku
    </author>
    
    <preference name="loadUrlTimeoutValue" value="700000" />

    <feature name="http://api.phonegap.com/1.0/battery" />
    <feature name="http://api.phonegap.com/1.0/camera" />
    <feature name="http://api.phonegap.com/1.0/contacts" />
    <feature name="http://api.phonegap.com/1.0/file" />
    <feature name="http://api.phonegap.com/1.0/geolocation" />
    <feature name="http://api.phonegap.com/1.0/media" />
    <feature name="http://api.phonegap.com/1.0/network" />
    <feature name="http://api.phonegap.com/1.0/notification" />

    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="webviewbounce"              value="true" />
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="show-splash-screen-spinner" value="true" />           <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->


    <plugin name="cordova-plugin-battery-status" />
    <plugin name="cordova-plugin-battery-accelerator" />
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-capture" />
    <plugin name="cordova-plugin-compass" />
    <plugin name="cordova-plugin-connection" />
    <plugin name="cordova-plugin-media-capture" />
    <plugin name="cordova-plugin-console" />
    <plugin name="cordova-plugin-contacts" />
    <plugin name="cordova-plugin-device" />
    <plugin name="cordova-plugin-device-motion" />
    <plugin name="cordova-plugin-device-orientation" />
    <plugin name="cordova-plugin-dialogs" />
    <plugin name="cordova-plugin-file" />
    <plugin name="cordova-plugin-file-transfer" />
    <plugin name="cordova-plugin-file-writer" />
    <plugin name="cordova-plugin-geolocation" />
    <plugin name="cordova-plugin-globalization" />
    <plugin name="cordova-plugin-inappbrowser" />
    <plugin name="cordova-plugin-media" />
    <plugin name="cordova-plugin-network-information" />
    <plugin name="cordova-plugin-notification" />
    <plugin name="cordova-plugin-splashscreen" />
    <plugin name="cordova-plugin-statusbar" />
    <plugin name="cordova-plugin-vibration" />
    <plugin name="cordova-plugin-whitelist" />



    <icon src="icon.png" />
    <icon src="resources/android/icon/drawable-ldpi-smallicon.png"   gap:platform="android"    gap:qualifier="ldpi" />
    <icon src="resources/android/icon/drawable-mdpi-smallicon.png"   gap:platform="android"    gap:qualifier="mdpi" />
    <icon src="resources/android/icon/drawable-hdpi-smallicon.png"   gap:platform="android"    gap:qualifier="hdpi" />
    <icon src="resources/android/icon/drawable-xhdpi-smallicon.png"   gap:platform="android"    gap:qualifier="xhdpi" />

    <gap:splash src="resources/splash.png"       gap:platform="android" />
    <gap:splash src="resources/splash.png"       gap:platform="ios" />
    <gap:splash src="resources/splash.png"       gap:platform="winphone" />

    <gap:config-file platform="android" parent="/manifest">
        <application android:debuggable="false" android:name="Resulam" ></application>
    </gap:config-file>

  

    <access origin="*"/>
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
    

</widget>
